/* Top navigation bar */
.navbar {
    background-color: #ffefd5;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
/* Top Main Icon  */
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
}

/* Vertical Menu aka Sidebar */
.nav-menu {
    background-color: papayawhip;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 100ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
}

/* Sidebar styling */
.nav-text a {
    text-decoration: none;
    color:peru;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-radius: 10px;
}

.nav-text a:hover {
    background-color: rgba(124, 124, 192, 0.664);
}

.nav-menu-items {
    width: 100%;
}

/* Top Main Icon */
.navbar-toggle {
    background-color: none;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}